<form [formGroup]="searchForm">
  <div class="input-group">
    <input
      type="text"
      class="form-control"
      placeholder="Enter stock symbol"
      aria-label="Enter stock symbol"
      formControlName="search"
    />
    <div class="input-group-append">
      <button
        class="btn btn-outline-secondary"
        type="button"
        (click)="search()"
      >
        Search
      </button>
    </div>
  </div>
</form>
