<ng-container *ngIf="stockItems.length">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Symbol</th>
        <th
          [appSort]="stockItems"
          data-order="desc"
          data-name="price"
          scope="col"
          class="sortable-header"
        >
          Price
        </th>
        <th scope="col">Size</th>
        <th scope="col">Time</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stockItem of stockItems">
        <td>{{ stockItem.symbol }}</td>
        <td>{{ stockItem.price }}</td>
        <td>{{ stockItem.size }}</td>
        <td>{{ stockItem.time | date: "mm/dd/yyyy hh:mm:ss" }}</td>
        <td>
          <span
            aria-hidden="true"
            class="remove-item"
            (click)="removeItem(stockItem)"
            >&times;</span
          >
        </td>
      </tr>
    </tbody>
  </table>
</ng-container>
<ng-container *ngIf="!stockItems.length">
  <div class="empty-list">No items are currently added</div>
</ng-container>

<div class="actions-block">
  <button type="button" class="btn btn-primary" (click)="saveProfile()">
    Save Profile
  </button>
</div>
