$page-max-width: 1160px;

body {
  margin: 0;
  color: #5a5959;
  font-family: Arial, Helvetica, sans-serif;
}

.page {
  margin: 0 auto;
  padding-top: 32px;
  min-height: 100vh;
  max-width: $page-max-width;
  display: flex;
  flex-direction: column;
}

table {
  th.sortable-header {
    cursor: pointer;
  }
}
